<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I’m {{ site.title }} {{ site.subtitle }}</h1>
        <p><strong>Back End Developer | Software Engineer | MLH Fellow | DevOps | Microsoft Learn Student Ambassador | Mentor @MLH</strong></p>
        <p>Looking forward for SDE Jobs</p>
      </header>
      <!--
      <ul class="actions" >
        <li><a href="{{ site.github_url }}" class="button special medium"><span class="icon fa-github">&nbsp;Github</span></a></li>
        <li><a href="{{ site.linkedin_url }}" class="button special medium"><span class="icon fa-linkedin">&nbsp;LinkedIn</span></a></li>
        
      </ul>-->
      <ul class="actions" >
        <li><a href="{{ '/portfolio/' | absolute_url }}" class="button special medium"><span class="icon fa-user">&nbsp;Portfolio</span></a></li>
        <li><a href="{{ '/assets/download/aditya_raman_resume.pdf' | absolute_url }}" class="button special medium" download><span class="icon fa-download">&nbsp;Resume</span></a></li>
      </ul>
    </div>
    <span class="image object" style="z-index:-1;">
      <img src="{{ '/assets/images/aditya copy 2.jpeg 2000' | absolute_url }}" alt="" />
    </span>
  </section>
