<!-- Contact Me -->

<div class="inner">
    <section>
        <hr id="header" style="opacity:0.7">
        <div class="features" >
            <article class="box" style="display:inline-block;border:0;">
                <form action="https://formspree.io/{{ site.email }}" method="POST" action="#">
                    <div class="row uniform">
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
                        </div>
                        <!-- Break -->
                        <!--<div class="12u$">
                            <div class="select-wrapper">
                                <select name="demo-category" id="demo-category">
                                    <option value="">- Category -</option>
                                    <option value="1">Manufacturing</option>
                                    <option value="1">Shipping</option>
                                    <option value="1">Administration</option>
                                    <option value="1">Human Resources</option>
                                </select>
                            </div>
                        </div>
                        -->
                        <!-- Break -->
                        <!--
                        <div class="4u 12u$(small)">
                            <input type="radio" id="demo-priority-low" name="demo-priority" checked>
                            <label for="demo-priority-low">Low</label>
                        </div>
                        <div class="4u 12u$(small)">
                            <input type="radio" id="demo-priority-normal" name="demo-priority">
                            <label for="demo-priority-normal">Normal</label>
                        </div>
                        <div class="4u$ 12u$(small)">
                            <input type="radio" id="demo-priority-high" name="demo-priority">
                            <label for="demo-priority-high">High</label>
                        </div>
                        -->
                        <!-- Break -->
                        <!--
                        <div class="6u 12u$(small)">
                            <input type="checkbox" id="demo-copy" name="demo-copy">
                            <label for="demo-copy">Email me a copy</label>
                        </div>
                        <div class="6u$ 12u$(small)">
                            <input type="checkbox" id="demo-human" name="demo-human" checked>
                            <label for="demo-human">I am a human</label>
                        </div>
                        -->
                        <!-- Break -->
                        <div class="12u$">
                            <textarea name="Message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
                        </div>
                        <!-- Break -->
                        <div class="12u$">
                            <ul class="actions">
                                <li><input type="submit" value="Send Message" class="special" /></li>
                                <li><input type="reset" value="Reset" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </article>
            <article class="box" style="display:inline-block;border:0;">
            
                <ul class="contact">
                    <li class="fa-envelope-o"><strong>Email</strong>
                    <br><a href="#">{{ site.email }}</a><br>
                    <a href="#">{{ site.altemail }}</a></li>
                    <li class="fa-phone"><strong>Phone</strong><br>{{ site.phone }}</li>
                    <li class="fa-home"><strong>Address</strong><br>{{ site.street_address }}<br />
                    {{ site.city }}, {{ site.state }} {{ site.zip_code }}<br />
                    {{ site.country }}</li>
                </ul>
            
            </article>
        
        </div>
        <hr class="header">
    </section>
</div>
<!-- Copyright -->
<footer id="footer" style="text-align:center;">
    <ul class="icons">
      {% if site.twitter_url %}
      <li><a href="{{ site.twitter_url }}" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
      {% endif %}
      {% if site.googleplus_url %}
      <li><a href="{{ site.googleplus_url }}" class="icon fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
      {% endif %}
      {% if site.facebook_url %}
      <li><a href="{{ site.facebook_url }}" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
      {% endif %}
      {% if site.instagram_url %}
      <li><a href="{{ site.instagram_url }}" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
      {% endif %}
      {% if site.pinterest_url %}
      <li><a href="{{ site.pinterest_url }}" class="icon fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
      {% endif %}
      {% if site.500px_url %}
      <li><a href="{{ site.500px_url }}" class="icon fa-500px" target="_blank"><span class="label">500px</span></a></li>
      {% endif %}
      {% if site.gitlab_url %}
      <li><a href="{{ site.gitlab_url }}" class="icon fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
      {% endif %}
      {% if site.github_url %}
      <li><a href="{{ site.github_url }}" class="icon fa-github" target="_blank"><span class="label">GitHub</span></a></li>
      {% endif %}
      {% if site.slack_url %}
      <li><a href="{{ site.slack_url }}" class="icon fa-slack" target="_blank"><span class="label">Slack</span></a></li>
      {% endif %}
      {% if site.linkedin_url %}
      <li><a href="{{ site.linkedin_url }}" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
      {% endif %}
    </ul>
    <p class="copyright">Copyright&nbsp;&copy;&nbsp;2019&nbsp; {{ site.title }}&nbsp;{{ site.subtitle }}. All rights reserved</p>
    <br><br>
</footer>

