<head>
  <title>{{ site.title }}&nbsp;{{ site.subtitle }}</title>
  <link rel="icon" href="{{ '/assets/images/aditya copy.png' | absolute_url }}" type="image/png">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <!--[if lte IE 8]><script src="{{ 'assets/js/ie/html5shiv.js' | relative_url }}"></script><![endif]-->
  <meta name="theme-color" content="#ef6a6a" />
  <!--<meta name="description" content="Portfolio Website of Aditya Raman, where he writes blogs on different technical and non-technical topics and it also contains all his projects and experiences." />-->
  <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ "assets/modal/assets/css/main.css" | relative_url }}"  />
  <script src="https://kit.fontawesome.com/f9c260f424.js"></script>
  <!—- ShareThis BEGIN -—>
  <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5cfd89664351e9001264fe77&product=sticky-share-buttons' async='async'></script>
  <!—- ShareThis END -—>
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ 'assets/css/ie9.css' | relative_url }}" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ 'assets/css/ie8.css' | relative_url }}" /><![endif]-->
  {% include analytics.html %}
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.3&appId=822230731477194&autoLogAppEvents=1"></script>
  <meta property="og:url"           content="{{ page.url | absolute_url }}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="{{ page.title }}" />
  <meta property="og:description"   content="{{ page.excerpt }}" />
  <meta property="og:image"         content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ '/assets/images/aditya copy.png' | absolute_url }}{% endif %}" />
</head>
