<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{{ site.title}} {{ site.subtitle }}</title>
	<link rel="icon" href="{{ '/assets/images/aditya copy.png' | absolute_url }}" type="image/png">
	<meta charset="utf-8" />
  	<meta name="theme-color" content="#353353" />
	<meta name="description" content="{{ site.title }} {{ site.subtitle }} | {{ site.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/images/aditya copy.png' | absolute_url }}">

	<!-- STYLESHEETS -->
<!--	<script src="https://kit.fontawesome.com/f9c260f424.js" crossorigin="anonymous"></script>-->
	<link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css' | relative_url }}" type="text/css" media="all">
	<link rel="stylesheet" href="{{ 'assets/css/all.min.css' | relative_url }}" type="text/css" media="all">
	<link rel="stylesheet" href="{{ 'assets/css/simple-line-icons.css' | relative_url }}" type="text/css" media="all">
	<link rel="stylesheet" href="{{ 'assets/css/slick.css' | relative_url }}" type="text/css" media="all">
	<link rel="stylesheet" href="{{ 'assets/css/animate.css' | relative_url }}" type="text/css" media="all">
	<link rel="stylesheet" href="{{ 'assets/css/magnific-popup.css' | relative_url }}" type="text/css" media="all">
	<link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" type="text/css" media="all">

	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
