<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I’m {{ site.title }} {{ site.subtitle }}</h1>
        <p>Data Science Enthusiast | Former Full Stack Developer Intern | Volunteer at UNV Online</p>
      </header>
      <p></p>
      <ul class="actions">
        <li ><a href="#" class="button big"><span class="icon fa-github" style="color:blue;">&nbsp;Github</span></a></li>
        <li><a href="#" class="button big"><span class="icon fa-linkedin">&nbsp;LinkedIn</span></a></li>
      </ul>
      <ul class="actions">
        <li><a href="#" class="button big">About Me</a></li>
      </ul>
    </div>
    <span class="image object" style="z-index:-1;">
      <img src="{{ "/assets/images/aditya.png" | absolute_url }}" alt="" />
    </span>
  </section>
