<!DOCTYPE HTML>
<html class="is-preload">

{% include head.html %}

<style>

</style>
<body>
	<!--<button onclick="topFunction()" class="special big" id="topBtn" title="Go to top">Top</button>-->
	<a id="back2Top" title="Back to top" href="#" style="color:white;">&#10148;</a>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                {% include header.html %}
                {{ content }}
				
               
            </div>
             <div class="inner">   
                 {% include footer.html %}
                </div><br><br>
        </div>

        {% include sidebar.html %}

    </div>

    {% include javascript.html %}
	
</body>

</html>
