<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ site.title }}&nbsp;{{ site.subtitle }}</title>
		<link rel="icon" href="{{ '/assets/images/aditya copy.png' | absolute_url }}" type="image/png">
		<meta charset="utf-8" />
		<meta name="theme-color" content="#505051" />
		<meta name="description" content="Portfolio Website of Aditya Raman, where he writes blogs on different technical and non-technical topics and it also contains all his projects and experiences." />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ 'assets/gallery/assets/css/main.css' | relative_url }}" />
		<noscript><link rel="stylesheet" href="{{ 'assets/gallery/assets/css/noscript.css' | relative_url }}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="{{ '' | absolute_url }}"><strong>Gallery</strong>&nbsp;Aditya Raman</a></h1>
						<nav>
							<ul>
								<li><a href="#footer" class="icon solid fa-info-circle">About</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						{{ content }}
					</div>

				<!-- Footer -->
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section>
									<h2>Magna feugiat sed adipiscing</h2>
									<p>Nulla consequat, ex ut suscipit rutrum, mi dolor tincidunt erat, et scelerisque turpis ipsum eget quis orci mattis aliquet. Maecenas fringilla et ante at lorem et ipsum. Dolor nulla eu bibendum sapien. Donec non pharetra dui. Nulla consequat, ex ut suscipit rutrum, mi dolor tincidunt erat, et scelerisque turpis ipsum.</p>
								</section>
								<section>
									<h2>Follow me on ...</h2>
									<ul class="icons">
										<li><a href="{{ site.twitter_url }}" class="icon brands fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
										<li><a href="{{ site.facebook_url }}" class="icon brands fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
										<li><a href="{{ site.instagram_url }}" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
										<li><a href="{{ site.github_url }}" class="icon brands fa-github" target="_blank"><span class="label">GitHub</span></a></li>
										<li><a href="{{ site.linkedin_url }}" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
									</ul>
								</section>
								<p class="copyright">
									Copyright&nbsp;&copy;&nbsp;2019&nbsp; <a href="{{ '' | absolute_url }}"> {{ site.title }}&nbsp;{{ site.subtitle }} </a>. All rights reserved.
								</p>
							</div>
							<div>
								<section>
									<h2>Get in touch</h2>
									<form method="post" action="https://formspree.io/{{ site.email }}">
										<div class="fields">
											<div class="field half">
												<input type="text" name="Name" id="name" placeholder="Name" />
											</div>
											<div class="field half">
												<input type="text" name="Email" id="email" placeholder="Email" />
											</div>
											<div class="field">
												<textarea name="message" id="Message" rows="4" placeholder="Message"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Send" class="primary" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</form>
								</section>
							</div>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{ 'assets/gallery/assets/js/jquery.min.js' | absolute_url }}"></script>
			<script src="{{ 'assets/gallery/assets/js/jquery.poptrox.min.js' | absolute_url }}"></script>
			<script src="{{ 'assets/gallery/assets/js/browser.min.js' | absolute_url }}"></script>
			<script src="{{ 'assets/gallery/assets/js/breakpoints.min.js' | absolute_url }}"></script>
			<script src="{{ 'assets/gallery/assets/js/util.js' | absolute_url }}"></script>
			<script src="{{ 'assets/gallery/assets/js/main.js' | absolute_url }}"></script>

	</body>
	
</html>