<!DOCTYPE HTML>
<html class="is-preload">

{% include head.html %}

<style>

</style>
<body>
	<!--<button onclick="topFunction()" class="special big" id="topBtn" title="Go to top">Top</button>-->
	<a id="back2Top" title="Back to top" href="#" style="color:white;">&#10148;</a>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                {% include header.html %}
                {% include banner.html %}

                {{ content }}

                <!-- Section -->
<section>
	<header class="major">
		<h2>About Me</h2>
	</header>
	<div class="features" align="center">
		<article>
			<span class="icon fa-user"></span>
			<div class="content">
				<h3><a href="{{ '/portfolio/' | absolute_url }}">Portfolio</a></h3>
				<p></p>
			</div>
		</article>
		<article>
			<span class="icon fa-github"></span>
			<div class="content">
				<h3><a href="https://github.com/ramanaditya" target="_blank">Projects</a></h3>
				<p></p>
			</div>
		</article>
		<article>
			<span class="icon fa-linkedin"></span>
			<div class="content">
				<h3><a href="https://www.linkedin.com/in/ramanaditya/" target="_blank">Let's Connect</a></h3>
				<p></p>
			</div>
		</article>
		<article>
			<!--<span class="icon" ><strong><i class="fas fa-pencil-alt" style="font-size:2.6em; color: rgb(255,92,95);margin-top:1.5em;"></i></strong></span>-->
			<span class="icon fa-pencil"></span>
			<div class="content">
				<h3><a href="#blog_posts">Blogs</a></h3>
				<p></p>
			</div>
		</article>

      
		<!--<article>
			<span class="icon fa-folder-open-o"></span>
			<div class="content">
				<h3>Sed magna finibus</h3>
				<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
			</div>
		</article>-->
	</div>
</section>

<!--
			<a class="twitter-timeline" href="https://twitter.com/_adityaraman?ref_src=twsrc%5Etfw">Tweets by _adityaraman</a> 
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<section>
	<header class="major">
		<h2>Stuff I do</h2>
	</header>
	<div class="features box" style="text-align:center;border:0;">

		<article style="text-align:center;display:inline-block;width:100%">
			<span class="icon fa-code" style="display:inline-block;"></span>
		
			<span class="icon fa-cutlery" style="display:inline-block;"></span>
			<span class="icon fa-globe" style="display:inline-block;"></span>
		
			<span class="icon fa-moon-o" style="display:inline-block;"></span>
		
			<span class="icon fa-repeat" style="display:inline-block;"></span>
		</article>

</section>
-->
<!-- Section -->
<section id="blog_posts">
	<header class="major">
		<h2>Recent Posts</h2>
	</header>
	<div class="posts">
		{% for post in paginator.posts %}
		<article>
			<a href="{{ post.url | relative_url }}" class="image"><img src="{{ post.image | absolute_url }}" alt="" /></a>
			<span style="float:right;"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-url="https://ramanaditya.github.io{{post.url}}" data-via="_adityaraman" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></span>
			<span style="top:-4px;float:right;margin-right:2px;"class="fb-share-button" data-href="https://ramanaditya.github.io/{{ post.url | relative_url }}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Framanaditya.github.io%2F{{ post.url | relative_url }}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></span>
			<h3>{{ post.title | upcase }}</h3>
            <p><a href="{{ site.baseurl }}/blogs#{{ post.categories[1] }}" style="color:#7f888f;">{{ post.categories[1] | upcase }}</a> - {{ post.date | date: "%b %-d %Y" }}
			<span style="float:right;">
				
				{% assign words = post.content | strip_html | number_of_words %}
				{% if words < 360 %}
					{% if words < 180 %}
						Less than 1 min Read
					{% else %}
						1 min Read
					{% endif %}
				{% else %}
					{{ words | divided_by:180 }} mins Read
				{% endif %}
			</span>
			 <!--<a class="a2a_dd" href="https://www.addtoany.com/share" style="float:right;"><i class="icon fa-share-alt fa-lg"></i></a>-->
				<!--
				<script>
                      var a2a_config = a2a_config || {};
                      a2a_config.onclick = 1;
				</script>
				<script async src="https://static.addtoany.com/menu/page.js"></script>
				-->
				<!-- AddToAny END -->
                      
                	  </header></p>
			<p>{{ post.excerpt }}</p>
			<div>
			<a href="{{ post.url | relative_url }}" class="button">Read More</a>
			<span style="float:right;">
			{% for tag in post.tags %}
			<a href="{{ site.baseurl }}/tags#{{ tag }}" style="color:#7f888f;text-decoration: none !important">&nbsp;<span class="icon fa-tag">{{ tag }}</span></a>
			{% endfor %}<br>
			<span style="float:right">
			{% for prog_lang in post.prog_languages %}
			<a href="{{ site.baseurl }}/prog_lang#{{ prog_lang }}" style="color:#7f888f;text-decoration: none !important">&nbsp;<span class="icon fa-hashtag">{{ prog_lang }}</span></a>
			{% endfor %}
			<br>
			</div>
		</article>
		{% endfor %}
    </div><br><br>
    <div style="text-align:center;">


                <!-- pagination -->
                
                {% if paginator.total_pages > 1 %}
                <ul class="pagination"  style="text-align:center;">
                {% if paginator.previous_page %}
                    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}#blog_posts" class="button">Prev</a></li>
                {% else %}
                    <li><span class="button disabled">Prev</span></li>
                {% endif %}

                {% for page in (1..paginator.total_pages) %}
                    {% if page == paginator.page %}
                    <li><span class="page active">{{ page }}</span></li>
                    {% elsif page == 1 %}
                    <li><a href="/#blog_posts" class="page">{{ page }}</a></li>
                    {% else %}
                    <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}#blog_posts" class="page">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if paginator.next_page %}
                    <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}#blog_posts" class="button">Next</a></li>
                {% else %}
					&nbsp;&nbsp;
                    <li><span class="button disabled">Next</span><li>
                {% endif %}
                </ul>
                {% endif %}


		
		<!--<article>
			<a href="#" class="image"><img src="assets/images/pic02.jpg" alt="" /></a>
			<h3>Nulla amet dolore</h3>
			<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
			<ul class="actions">
				<li><a href="#" class="button">More</a></li>
			</ul>
		</article> -->
	</div>
</section>
<section>
	<div class="posts">
		<article>
			<a class="twitter-timeline" href="https://twitter.com/_adityaraman?ref_src=twsrc%5Etfw" data-tweet-limit="3">Tweets by _adityaraman</a> 
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</article>
		<article>
			<span id="instafeed"></span>
		</article>
	</div>
</section>
               
            </div>
                <div class="inner">
                 {% include footer.html %}
				 </div><br><br>
        </div>

        {% include sidebar.html %}

    </div>

    {% include javascript.html %}
<script type="text/javascript">
	var loadButton = document.getElementById('load-more');
    var userFeed = new Instafeed({
        get: 'user',
        userId: '1603713456',
        accessToken: '1603713456.1677ed0.f0991c2e6b5f49a6bcfa0bc963c19d43', 
		sortBy: "most-recent",
		limit:6,
		orientation: "square",
		template: '<span class=\"image left\" style="min-width:50%;max-width:50%;margin-bottom:-10px;"><a href=\"\{\{link\}\}\"><img src=\"\{\{image\}\}\" alt="" /><span class=\"icon fa-heart\" style="float:left;margin-left:10%;color:red;font-size:13px;">&nbsp;\{\{likes\}\}</span><span class=\"icon fa-comments\" style="float:right;margin-right:10%;color:black;font-size:13px;">&nbsp;\{\{comments\}\}</span></a></span>'
    });
    userFeed.run();
</script>

</body>

</html>
