<!DOCTYPE HTML>
<html>

{% include head.html %}
<style>
.highlight{
  font-size: 1.1em;
}
pre{
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  font-size: 1.1em;
}
</style>
<body>
    <!--<button onclick="topFunction()" class="special big" id="topBtn" title="Go to top">Top</button>-->
    <a id="back2Top" title="Back to top" href="#" style="color:white;">&#10148;</a>

      <!-- Wrapper -->
      <div id="wrapper">

        <!-- Main -->
        <div id="main">
          <div class="inner">

                {% include header.html %}
          </div>
          <div class="row">
            <div class="1u 12u$(small)">
            <p></p>
            </div>
            <div class="7u 12u$(small)">
              <div class="inner box" style="border:0;">
                <!-- Content -->
                <br>
                	<header class="main">
                		<h1>{{ page.title | upcase }}</h1>
                    <h3 style="float:left;">{{ page.subtitle }}</h3>
                    <p style="float:right;">
                      <a href="{{ site.baseurl }}/blogs#{{ page.categories[1] }}" style="color:#7f888f;">
                        {{ page.categories[1] | upcase }} 
                      </a> -{% if page.last_modified_at %} Updated : {{ page.last_modified_at | date: "%b %-d %Y" }}{% else %}{{ page.date | date: "%b %-d %Y" }}{% endif %}
                    </p>
                	  </header>

                  {% if page.image %}
                  <span class="image main" style="z-index:-1"><img src="{{ page.image | absolute_url }}" alt="" /></span>
                  
                  {% endif %}
                <div fb-quotable style="color:#3d4449;">
                  <div id="fb-root"></div>
                    <script>(function(d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0];
                      if (d.getElementById(id)) return;
                      js = d.createElement(s); js.id = id;
                      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
                      fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>
                {{ content }}
                <div class="fb-quote" data-href="https://ramanaditya.github.io/{{ page.url | relative_url }}" data-layout="quote"></div>
                </div>
                <hr>
                {% for tag in page.tags %}
                <small><a href="{{ site.baseurl }}/tags#{{ tag }}" style="text-decoration:none !important;color:#7f888f;"><span class="icon fa-tag">{{ tag | upcase }} &nbsp;</span></a></small>
                {% endfor %}
                </span>
                <small style="float:right;">{{ page.content | strip_html | number_of_words }} &nbsp; Words</small>
                <hr>
                <div class="hide-mobile">
                <span>
			          <a href="https://twitter.com/_adityaraman?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-url="https://ramanaditya.github.io{{post.url}}" data-via="_adityaraman" data-show-count="true">Follow @_adityaraman</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></span>
                <span style="float:right !important;"><a href="https://twitter.com/intent/tweet?screen_name=_adityaraman&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-size="large" data-url="https://ramanaditya.github.io{{post.url}}" data-via="_adityaraman" data-show-count="false">Tweet to @_adityaraman</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></span>
                </div>
                <div class="show-mobile">
                <span>
			          <a href="https://twitter.com/_adityaraman?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="medium" data-url="https://ramanaditya.github.io{{post.url}}" data-via="_adityaraman" data-show-count="false">Follow @_adityaraman</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></span>
                <span style="float:right !important;"><a href="https://twitter.com/intent/tweet?screen_name=_adityaraman&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-size="medium" data-url="https://ramanaditya.github.io{{post.url}}" data-via="_adityaraman" data-show-count="false">Tweet to @_adityaraman</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></span>
                </div>
                <hr>
                <div class="hide-mobile">
                <div style="float:right;" class="fb-save" data-uri="https://ramanaditya.github.io/{{ page.url | relative_url }}" data-size="large"></div>
                <div  class="fb-like" data-href="https://ramanaditya.github.io/{{ page.url | relative_url }}" data-width="" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true" data-show-faces="true"></div>
                </div>
                <div class="show-mobile">
                <div class="fb-save" data-uri="https://ramanaditya.github.io/{{ page.url | relative_url }}" data-size="small"></div>
                <div class="fb-like" data-href="https://ramanaditya.github.io/{{ page.url | relative_url }}" data-width="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                </div>
                <hr>
                <!--<div class="fb-comments" data-href="https://ramanaditya.github.io/{{ page.url | relative_url }}" data-width="" data-numposts="5"></div>-->
                <br>
                {% include author.html %}
                <div class="sharethis-inline-reaction-buttons"></div>
                {% include disqus.html %}
                <hr>
                  {% if page.previous.url or page.next.url %}
                    <header class="major">
                        <h3>Also Read : </h3>
                      </header>
                    {% endif %}
                <div class="row main">

              {% if page.previous.url %}
                <div class="6u 12u$(medium)" style="float:left;">
					
                    <h3><a class="thepostlink" href="{{page.previous.url | absolute_url}}">{{page.previous.title | upcase }}</a></h3>
					
					<p style="text-align: justify; text-justify: inter-word;"><span class="image left"><img src="{{ page.previous.image | absolute_url }}" alt="" /></span>{{ page.previous.excerpt | truncate: 200 }}</p>
					<a href="{{page.previous.url | absolute_url}}" class="button fit medium" style="float:right;">&laquo; Previous</a>
                </div>
              {% endif %}
			  
              {% if page.next.url %}
                <div class="6u 12u$(medium)" style="float:right;">
                    <h3><a class="thepostlink" href="{{page.next.url | absolute_url}}">{{page.next.title | upcase }}</a></h3>
					
					<p style="text-align: justify;text-justify: inter-word;"><span class="image right"><img src="{{ page.next.image | absolute_url }}" alt="" /></span>{{ page.next.excerpt | truncate: 200 }}</p>
					<a href="{{page.next.url | absolute_url}}" class="button fit medium" style="float:left;">Next &raquo; </a>
                </div>
              {% endif %}
            </div>

              </div>
            </div>
            <div class="3u 12u$(small)">
            <div class="inner box" style="border:0;">
            <br>
            <header class="major">
              <h3>Similar Categories</h3>
            </header>
            
            {% for category in site.categories %}
            {% if category[0] == page.categories[1] %}
            {% for post in category[1] %}
            {% if post.title != page.title %}
              <article>
                <a href="{{ post.url | relative_url }}" class="image main"><img src="{{ post.image | absolute_url }}" alt="" /></a>
                <a href="{{ post.url | relative_url }}"><div><strong>{{ post.title }}</strong></div></a>
                <p>{{ post.description }}</p>
                
              </article><hr>
              
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
            

            </div>
            </div>
            <div class="1u 12u$(small)">
            <p></p>
            </div>
            
          </div>
          <div class="inner">

                {% include footer.html %}
        </div><br><br>
        </div>
          {% include sidebar.html %}

      </div>

      {% include javascript.html %}

</body>

</html>
