<!DOCTYPE HTML>
<html>

{% include head.html %}

<body>
    <!--<button onclick="topFunction()" class="special big" id="topBtn" title="Go to top">Top</button>-->
    <a id="back2Top" title="Back to top" href="#" style="color:white;">&#10148;</a>

      <!-- Wrapper -->
      <div id="wrapper">

        <!-- Main -->
        <div id="main">
          <div class="inner">

                {% include header.html %}
          </div>
          <div class="row">
            <div class="1u 12u$(small)">
            <p></p>
            </div>
            <div class="7u 12u$(small)">
              <div class="inner box" style="border:0;">
                <!-- Content -->
                <br>
                	<header class="main">
                		<h1>{{ page.title | upcase }}</h1>
                    <h3 style="float:left;">{{ page.subtitle }}</h3>
                    <p style="float:right;">
                      <a href="{{ site.baseurl }}/blogs#{{ page.categories[1] }}" style="color:#7f888f;">
                        {{ page.categories[1] | upcase }} 
                      </a> - {{ page.date | date: "%b %-d %Y" }}
                    </p>
                	  </header>

                  {% if page.image %}
                  <span class="image main" style="z-index:-1"><img src="{{ page.image | absolute_url }}" alt="" /></span>
                  
                  {% endif %}
                <div style="color:#3d4449;">
                {{ content }}
                </div>
                <hr>
                {% for tag in page.tags %}
                <small><a href="{{ site.baseurl }}/tags#{{ tag }}" style="text-decoration:none !important;color:#7f888f;"><span class="icon fa-tag">{{ tag | upcase }} &nbsp;</span></a></small>
                {% endfor %}
                </span>
                <small style="float:right;">{{ page.content | strip_html | number_of_words }} &nbsp; Words</small>
                <hr>
                <div>
                <span>
			          <a href="https://twitter.com/_adityaraman?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-url="https://ramanaditya.github.io{{post.url}}" data-via="_adityaraman" data-show-count="true">Follow @_adityaraman</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></span>
                <span style="float:right !important;"><a href="https://twitter.com/intent/tweet?screen_name=_adityaraman&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-size="large" data-url="https://ramanaditya.github.io{{post.url}}" data-via="_adityaraman" data-show-count="false">Tweet to @_adityaraman</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></span>
                </div><br>
                {% include author.html %}
                <div class="sharethis-inline-reaction-buttons"></div>
                {% include disqus.html %}
                <hr>
                  {% if page.previous.url or page.next.url %}
                    <header class="major">
                        <h3>Also Read : </h3>
                      </header>
                    {% endif %}
                <div class="row main">

              {% if page.previous.url %}
                <div class="6u 12u$(medium)" style="float:left;">
					
                    <h3><a class="thepostlink" href="{{page.previous.url | absolute_url}}">{{page.previous.title | upcase }}</a></h3>
					
					<p style="text-align: justify; text-justify: inter-word;"><span class="image left"><img src="{{ page.previous.image | absolute_url }}" alt="" /></span>{{ page.previous.excerpt | truncate: 200 }}</p>
					<a href="{{page.previous.url | absolute_url}}" class="button fit medium" style="float:right;">&laquo; Prev</a>
                </div>
              {% endif %}
			  
              {% if page.next.url %}
                <div class="6u 12u$(medium)" style="float:right;">
                    <h3><a class="thepostlink" href="{{page.next.url | absolute_url}}">{{page.next.title | upcase }}</a></h3>
					
					<p style="text-align: justify;text-justify: inter-word;"><span class="image right"><img src="{{ page.next.image | absolute_url }}" alt="" /></span>{{ page.next.excerpt | truncate: 200 }}</p>
					<a href="{{page.next.url | absolute_url}}" class="button fit medium" style="float:left;">Next &raquo; </a>
                </div>
              {% endif %}
            </div>

              </div>
            </div>
            <div class="3u 12u$(small)">
            <div class="inner box" style="border:0;">
            <br>
            <header class="major">
              <h3>Similar Categories</h3>
            </header>
            
            {% for category in site.categories %}
            {% if category[0] == page.categories[1] %}
            {% for post in category[1] %}
            {% if post.title != page.title %}
              <article>
                <a href="{{ post.url | relative_url }}" class="image main"><img src="{{ post.image | absolute_url }}" alt="" /></a>
                <a href="{{ post.url | relative_url }}"><div><strong>{{ post.title }}</strong></div></a>
                <p>{{ post.description }}</p>
                
              </article>
              
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
            <hr>

            </div>
            </div>
            <div class="1u 12u$(small)">
            <p></p>
            </div>
            
          </div>
          <div class="inner">

                {% include footer.html %}
        </div><br><br>
        </div>
          {% include sidebar.html %}

      </div>

      {% include javascript.html %}

</body>

</html>
