<!DOCTYPE HTML>
<html>
{% include head.html %}
<link rel="stylesheet" href="{{ 'assets/skills/css/default.css' | relative_url }}" />
<script>
window.onload = function () {

var totalVisitors1 = 500;
var visitorsData1 = {
	"Skills": [{
		click: visitorsChartDrilldownHandler1,
		cursor: "pointer",
		explodeOnClick: true,
		innerRadius: "0%",
		legendMarkerType: "circle",
		name: "Skills",
		radius: "100%",
		showInLegend: true,
		startAngle: 90,
        indexLabel: " {name} : {y} ",
		type: "doughnut",
		dataPoints: [
			{ y: 7, name: "Languages", color: "#ef6a6a" },
			{ y: 2, name: "Databases", color: "#546BC1" },
            { y: 3, name: "Operating System", color: "#2d445f" }
		]
	}],
	"Languages": [{
		color: "#ef6a6a",
		name: "Languages",
		type: "column",
		dataPoints: [
			{y: 80, label:"Python" },
			{y: 75, label:"C" },
			{y: 40, label:"C++" },
			{y: 45, label:"Java" },
            {y: 95, label:"HTML 5" },
            {y: 90, label:"CSS" },
            {y: 40, label:"JavaScript" }
		]
	}],
	"Databases": [{
		color: "#546BC1",
		name: "Databases",
		type: "column",
		dataPoints: [
			{y: 80, label:"MySQL" },
			{y: 75, label:"MongoDB" }
		]
	}],
    "Operating System": [{
		color: "#2d445f",
		name: "Operating System",
		type: "column",
		dataPoints: [
			{y: 80, label:"Linux" },
			{y: 90, label:"MacOS" },
            {y: 85, label:"Windows" },
		]
	}],
    "Java": [{
		color: "#245e7b",
		name: "Java",
		type: "column",
		dataPoints: [
			{ x: new Date("1 Jan 2015"), y: 100 },
			{ x: new Date("1 Feb 2015"), y: 90 },
			{ x: new Date("1 Mar 2015"), y: 100 },
			{ x: new Date("1 Apr 2015"), y: 80 },
			{ x: new Date("1 May 2015"), y: 60 },
			{ x: new Date("1 Jun 2015"), y: 50 },
			{ x: new Date("1 Jul 2015"), y: 90 },
			{ x: new Date("1 Aug 2015"), y: 100 },
			{ x: new Date("1 Sep 2015"), y: 30 },
			{ x: new Date("1 Oct 2015"), y: 10 },
			{ x: new Date("1 Nov 2015"), y: 30 },
			{ x: new Date("1 Dec 2015"), y: 20 }
		]
	}]
};

var newVSReturningVisitorsOptions1 = {
	animationEnabled: true,
	theme: "light2",
	title: {
		text: ""
	},
	subtitles: [{
		text: "Click on Any Segment to Drilldown",
		backgroundColor: "#ef6b6b",
		fontSize: 16,
		fontColor: "white",
		padding: 10
	}],
	legend: {
		fontFamily: "calibri",
		fontSize: 14,
		itemTextFormatter: function (e) {
			return e.dataPoint.name + ": " + Math.round(e.dataPoint.y);  
		}  
	}
};
var visitorsDrilldownedChartOptions1 = {
	animationEnabled: true,
	theme: "light2",
	axisX: {
		labelFontColor: "#717171",
		lineColor: "#a2a2a2",
		tickColor: "#a2a2a2"
	},
	axisY: {
        suffix: "%",
		gridThickness: 0,
		includeZero: true,
		labelFontColor: "#717171",
		lineColor: "#a2a2a2",
		tickColor: "#a2a2a2",
		lineThickness: 1
	},
	data: []
};

var chart1 = new CanvasJS.Chart("chartContainer1", newVSReturningVisitorsOptions1);
chart1.options.data = visitorsData1["Skills"];
chart1.render();

function visitorsChartDrilldownHandler1(e) {
	chart1 = new CanvasJS.Chart("chartContainer1", visitorsDrilldownedChartOptions1);
	chart1.options.data = visitorsData1[e.dataPoint.name];
	chart1.options.title = { text: e.dataPoint.name }
	chart1.render();
	$("#backButton1").toggleClass("invisible");
}

$("#backButton1").click(function() { 
	$(this).toggleClass("invisible");
	chart1 = new CanvasJS.Chart("chartContainer1", newVSReturningVisitorsOptions1);
	chart1.options.data = visitorsData1["Skills"];
	chart1.render();
});


/*
var totalVisitors2 = 500;
var visitorsData2 = {
	"Programming": [{
		click: visitorsChartDrilldownHandler2,
		cursor: "pointer",
		explodeOnClick: false,
		innerRadius: "75%",
		legendMarkerType: "square",
		name: "Programming",
		radius: "100%",
		showInLegend: true,
		startAngle: 90,
		type: "doughnut",
		dataPoints: [
			{ y: 80, name: "Python", color: "#E7823A" },
			{ y: 90, name: "C", color: "#546BC1" },
            { y: 100, name: "C++", color: "#62d467" },
            { y: 100, name: "Java", color: "#245e7b" }

		]
	}],
	"Python": [{
		color: "#E7823A",
		name: "Python",
		type: "column",
		dataPoints: [
			{ x: new Date("1 Jan 2015"), y: 33000 },
			{ x: new Date("1 Feb 2015"), y: 35960 },
			{ x: new Date("1 Mar 2015"), y: 42160 },
			{ x: new Date("1 Apr 2015"), y: 42240 },
			{ x: new Date("1 May 2015"), y: 43200 },
			{ x: new Date("1 Jun 2015"), y: 40600 },
			{ x: new Date("1 Jul 2015"), y: 42560 },
			{ x: new Date("1 Aug 2015"), y: 44280 },
			{ x: new Date("1 Sep 2015"), y: 44800 },
			{ x: new Date("1 Oct 2015"), y: 48720 },
			{ x: new Date("1 Nov 2015"), y: 50840 },
			{ x: new Date("1 Dec 2015"), y: 51600 }
		]
	}],
	"C": [{
		color: "#546BC1",
		name: "C",
		type: "column",
		dataPoints: [
			{ x: new Date("1 Jan 2015"), y: 22000 },
			{ x: new Date("1 Feb 2015"), y: 26040 },
			{ x: new Date("1 Mar 2015"), y: 25840 },
			{ x: new Date("1 Apr 2015"), y: 23760 },
			{ x: new Date("1 May 2015"), y: 28800 },
			{ x: new Date("1 Jun 2015"), y: 29400 },
			{ x: new Date("1 Jul 2015"), y: 33440 },
			{ x: new Date("1 Aug 2015"), y: 37720 },
			{ x: new Date("1 Sep 2015"), y: 35200 },
			{ x: new Date("1 Oct 2015"), y: 35280 },
			{ x: new Date("1 Nov 2015"), y: 31160 },
			{ x: new Date("1 Dec 2015"), y: 34400 }
		]
	}],
    "C++": [{
		color: "#62d467",
		name: "C++",
		type: "column",
		dataPoints: [
			{ x: new Date("1 Jan 2015"), y: 22000 },
			{ x: new Date("1 Feb 2015"), y: 26040 },
			{ x: new Date("1 Mar 2015"), y: 25840 },
			{ x: new Date("1 Apr 2015"), y: 23760 },
			{ x: new Date("1 May 2015"), y: 28800 },
			{ x: new Date("1 Jun 2015"), y: 29400 },
			{ x: new Date("1 Jul 2015"), y: 33440 },
			{ x: new Date("1 Aug 2015"), y: 37720 },
			{ x: new Date("1 Sep 2015"), y: 35200 },
			{ x: new Date("1 Oct 2015"), y: 35280 },
			{ x: new Date("1 Nov 2015"), y: 31160 },
			{ x: new Date("1 Dec 2015"), y: 34400 }
		]
	}],
    "Java": [{
		color: "#245e7b",
		name: "Java",
		type: "column",
		dataPoints: [
			{ x: new Date("1 Jan 2015"), y: 100 },
			{ x: new Date("1 Feb 2015"), y: 90 },
			{ x: new Date("1 Mar 2015"), y: 100 },
			{ x: new Date("1 Apr 2015"), y: 80 },
			{ x: new Date("1 May 2015"), y: 60 },
			{ x: new Date("1 Jun 2015"), y: 50 },
			{ x: new Date("1 Jul 2015"), y: 90 },
			{ x: new Date("1 Aug 2015"), y: 100 },
			{ x: new Date("1 Sep 2015"), y: 30 },
			{ x: new Date("1 Oct 2015"), y: 10 },
			{ x: new Date("1 Nov 2015"), y: 30 },
			{ x: new Date("1 Dec 2015"), y: 20 }
		]
	}]
};

var newVSReturningVisitorsOptions2 = {
	animationEnabled: true,
	theme: "light2",
	title: {
		text: ""
	},
	subtitles: [{
		text: "Click on Any Segment to Drilldown",
		//backgroundColor: "#ef6b6b",
		fontSize: 16,
		fontColor: "black",
		padding: 10
	}],
	legend: {
		fontFamily: "calibri",
		fontSize: 14,
		itemTextFormatter: function (e) {
			return e.dataPoint.name + ": " + Math.round(e.dataPoint.y / totalVisitors2 * 100) + "%";  
		}  
	}
};
var visitorsDrilldownedChartOptions2 = {
	animationEnabled: true,
	theme: "light2",
	axisX: {
		labelFontColor: "#717171",
		lineColor: "#a2a2a2",
		tickColor: "#a2a2a2"
	},
	axisY: {
		gridThickness: 0,
		includeZero: false,
		labelFontColor: "#717171",
		lineColor: "#a2a2a2",
		tickColor: "#a2a2a2",
		lineThickness: 1
	},
	data: []
};

var chart2 = new CanvasJS.Chart("chartContainer2", newVSReturningVisitorsOptions2);
chart2.options.data = visitorsData2["Programming"];
chart2.render();

function visitorsChartDrilldownHandler2(e) {
	chart2 = new CanvasJS.Chart("chartContainer2", visitorsDrilldownedChartOptions2);
	chart2.options.data = visitorsData2[e.dataPoint.name];
	chart2.options.title = { text: e.dataPoint.name }
	chart2.render();
	$("#backButton2").toggleClass("invisible");
}

$("#backButton2").click(function() { 
	$(this).toggleClass("invisible");
	chart2 = new CanvasJS.Chart("chartContainer2", newVSReturningVisitorsOptions2);
	chart2.options.data = visitorsData2["Programming"];
	chart2.render();
});*/
}
</script>
<style>

  .invisible {
    display: none;
  }
.card {
				border: 0rem;
				border-radius: 0rem;
			}

			
			.card-header {
				background-color: #f6f8fa;
				border-radius: 0 !important;
				color:	black;
				margin-bottom: 0;
				padding:	1rem;
                
			}
			
			.card-block {
				border: 1px solid #cccccc;	
			}
			
			.shadow {
				box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
										0 1px 18px 0 rgba(0, 0, 0, 0.12),
										0 3px 5px -1px rgba(0, 0, 0, 0.2);
			}
            #chartContainer2, #chartContainer1, #orders-spline-chart {
				height: 300px;
				width: 100%;
			}	

            .shadow:hover {
    box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.14),
										0 1px 18px 0 rgba(0, 0, 0, 0.12),
										0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
</style>
<body>
    
    <!-- Wrapper -->
    <div id="wrapper">
    <a id="back2Top" title="Back to top" href="#" style="color:white;">&#10148;</a>
        <!-- Main -->
        <div id="main">
        <div class="inner">

                {% include header.html %}
        </div>
        <div class="inner">
            <br><br>
            {% if page.image %}
            <span class="hide-mobile">
            <span class="image main"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" style="border-radius: 50%;display: block;margin-left: auto;margin-right: auto;max-width:35%;" /></span>
            </span>
            <span class="show-mobile">
            <span class="image main"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" style="border-radius: 50%;display: block;margin-left: auto;margin-right: auto;max-width:50%;" /></span>
            </span>
            {% endif %}
            <header class="major" style="margin-left: auto;margin-right: auto;text-align:center;display:block;"> 
                <h1>&nbsp;&nbsp;&nbsp;Aditya Raman</h1>
            </header>
            <div class="show-mobile">
            <ul class="actions" style="margin-top:-30px;;text-align:center;">
                <li><a href="{{ '/assets/download/aditya_resume.pdf' | absolute_url }}" class="button special fit big" download><span class="icon fa-download">&nbsp;Resume</span></a></li>
            </ul>
            <ul class="actions" style="margin-top:-30px;;text-align:center;">
                <li><a href="{{ '/assets/download/aditya_resume.pdf' | absolute_url }}" class="button fit medium"><span class="icon fa-github">&nbsp;GitHub</span></a></li>                
                <li><a href="{{ '/assets/download/aditya_resume.pdf' | absolute_url }}" class="button fit medium"><span class="icon fa-linkedin">&nbsp;Linkedin</span></a></li>
            </ul>
            </div>
            <ul class="actions hide-mobile" style="margin-top:-30px;;text-align:center;">
                <li><a href="{{ '/assets/download/aditya_resume.pdf' | absolute_url }}" class="button fit medium"><span class="icon fa-github">&nbsp;GitHub</span></a></li>                
                <li><a href="{{ '/assets/download/aditya_resume.pdf' | absolute_url }}" class="button special fit big" download><span class="icon fa-download">&nbsp;Resume</span></a></li>
                <li><a href="{{ '/assets/download/aditya_resume.pdf' | absolute_url }}" class="button fit medium"><span class="icon fa-linkedin">&nbsp;Linkedin</span></a></li>
            </ul>
            <div class="row uniform">
                <div class="3u 12u$(xsmall)">
                    <div id="menu1" class="box" style="padding-top:5px;padding-bottom:5px;color:black;border: 1px solid #ef6969">
                        <ul>
                            <li><span class="opener"><strong>Quick Navigation</strong></span>
                                <ul style="color:black;font-size:1em;">
                                    <li><a href="#Experience">Experience</a></li>
                                    <li><a href="#Education">Education</a></li>
                                    <li><a href="#Courses">Courses</a></li>
                                    <li><a href="#volunteer">Volunteer Exp.</a></li>
                                    <li><a href="#Languages">Languages</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><hr>
            <header class="major hide-mobile">
                <h2 id="Top Skills">Top Skills</h2>
            </header>
            <div class="row">
                <div class="6u 12u$(small)">
                    <div style="text-align:right;cursor:pointer;"><a class="button special medium invisible" id="backButton1" >&#x3C; Back</a></div>
                    <div id="chartContainer1"></div>
                </div>
            </div><br>
            <!--
            <div class="posts">
<article>
            
            
                <div class="card shadow">
						<h4 class="card-header">Programming Languages<span class="invisible" id="backButton1" style="float:right;cursor:pointer;">&#x3C; Back</span></h4>
						<div class="card-block">
							<div id="chartContainer1"></div>
						</div>
					
              </article>
                <article>
                
                    <div class="card shadow">
						<h4 class="card-header">Programming Languages<span class="invisible" id="backButton2" style="float:right;cursor:pointer;">&#x3C; Back</span></h4>
						<div class="card-block">
							<div id="chartContainer2"></div>
						</div>-->
					
                    <!--<a class="button special small invisible" id="backButton2">< Back</a>
                    <div id="chartContainer2" style="height: 300px; width: 100%;"><p></p></div>
                        
                </div>
                </article>
            </div>
-->
            <header class="major">
                <h2 id="Experience">Experience</h2>
            </header>
            <div class="internship">
                <div class="row">
                    <div class="6u 12u$(small)" style="float:left;">
                        <span class="image left"  style="max-width:30%;"><img src="{{ 'assets/images/glug_logo.jpg' | absolute_url }}" alt="" /></span>
                        <strong><a href="https://www.glugmvit.com" style="font-size:1.3em">GLUG MVIT</a></strong>
                        <p>Website Developer Team Lead</p>
                    </div>
                    <div class="3u 12u$(small)" style="float:right;">
                        
                    </div>
                    <div class="3u 12u$(small)" style="float:right;">
                        <strong>Bengaluru, Karnataka, INDIA</strong>
                        <p>Oct 2018 - Present</p>
                    </div>
                </div>
            </div><br>
            <button class="accordion button special medium" onclick="changeText(this)" style="opacity:0.7">SHOW MORE</button>
            <div class="panel"><br>
                <div class="internship">
                    <div class="row">
                        <div class="6u 12u$(small)" style="float:left;">
                            <span class="image left"  style="max-width:30%;"><img src="{{ 'assets/images/internshala logo.png' | absolute_url }}" alt="" /></span>
                            <strong><a href="#" style="font-size:1.3em">Internshala</a></strong>
                            <p>Internshala Student Partner 12.0</p>
                        </div>
                        <div class="3u 12u$(small)" style="float:right;">
                            
                        </div>
                        <div class="3u 12u$(small)" style="float:right;">
                            <strong>Bengaluru, Karnataka, INDIA</strong>
                            <p>Dec 2018 - Feb 2019</p>
                        </div>
                    </div>
                </div><hr>
                <div class="internship">
                    <div class="row">
                        <div class="6u 12u$(small)" style="float:left;">
                            <span class="image left"  style="max-width:30%;"><img src="{{ 'assets/images/trending_skill logo.jpeg' | absolute_url }}" alt="" /></span>
                            <strong><a href="https://www.trendingskill.com" style="font-size:1.3em">Trending Skill</a></strong>
                            <p>Full Stack Developer Intern</p>
                        </div>
                        <div class="3u 12u$(small)" style="float:right;">
                            
                        </div>
                        <div class="3u 12u$(small)" style="float:right;">
                            <strong>Mumbai, Maharashtra, INDIA</strong>
                            <p>Oct 2018 - Nov 2018</p>
                        </div>
                    </div>
                </div>
            </div><br />
            <header class="major">
                <h2 id="Education">Education</h2>
            </header>
            <div class="college">
                <div class="row">
                    <div class="6u 12u$(small)" style="float:left;">
                        <span class="image left" style="max-width:30%;" ><img src="{{ 'assets/images/sirmvit logo.jpg' | absolute_url }}" alt="" /></span>
                        <strong><a href="https://www.sirmvit.edu" style="font-size:1.3em">Sir M. Visvesvaraya Institute of Technology</a></strong>
                        <p>Undergraduation, Bachelor of Engineering, Computer Science</p>
                    </div>
                        <div class="3u 12u$(small)" style="float:right;">
                    </div>
                    <div class="3u 12u$(small)" style="float:right;">
                        <strong>Bengaluru, Karnataka, INDIA</strong>
                        <p>Graduating August,2021</p>
                    </div>
                </div>
                <div class="main">
                    <div>Part of Technical Club : <a href="https://www.glugmvit.com">GLUG MVIT</a></div>
                    <p>Part of Debating Society : DEBSOC</p>
                </div>
            </div>
            <button class="accordion special" onclick="changeText(this)"  style="opacity:0.7">Show More</button>
            <div class="panel"><br>
                <div class="high_school">
                    <div class="row">
                        <div class="6u 12u$(small)" style="float:left;">
                            <span class="image left"  style="max-width:30%;"><img src="{{ 'assets/images/dps logo.jpeg' | absolute_url }}" alt="" /></span>
                            <strong style="font-size:1.3em"><a href="http://dpsbokaro.com">Delhi Public School</a>, Bokaro Steel City</strong>
                            <p>High School, Intermediate, Mathematics, Physics and Chemistry</p>
                        </div>
                        <div class="3u 12u$(small)" style="float:right;">
                            
                        </div>
                        <div class="3u 12u$(small)" style="float:right;">
                            <strong>Bokaro Steel City, Jharkhand, INDIA</strong>
                            <p>Graduated May,2016</p>
                        </div>
                    </div>
                    <div class="main">
                        <div>Part of Debating Club</div>
                        <div>Ranked 3<sup>rd</sup> in inter house Volleyball Competition</div>
                    </div>
                </div><hr>
                <div class="high_school">
                    <div class="row">
                        <div class="6u 12u$(small)" style="float:left;">
                            <span class="image left"  style="max-width:30%;"><img src="{{ 'assets/images/dav logo.png' | absolute_url }}" alt="" /></span>
                            <strong><a href="http://sldavpsrngrkh.com" style="font-size:1.3em">SL DAV Public School</a></strong>
                            <p>High School, Class-10 , Mathematics, Science and Social Science</p>
                        </div>
                        <div class="3u 12u$(small)" style="float:right;">
                            
                        </div>
                        <div class="3u 12u$(small)" style="float:right;">
                            <strong>Khagaria, Bihar, INDIA</strong>
                            <p>Graduated May,2014</p>
                        </div>
                    </div>
                    <div class="main">
                        <div>Winner of Junior Scientist Talent Hunt in which I made a powerpoint presentation on <a href="https://www.slideshare.net/adityaraman908/jsth-e-waste-powerpoint-presentation">E-Waste Management System</a></div>
                        <div>Ranked 3<sup>rd</sup> in English Debate Competition in 9<sup>th</sup> Mahatma Hansraj Zonal Youth Festival,2012</div>
                        <div>Ranked 3<sup>rd</sup> in Zonal Quiz Competition, Vedic Chetna Shivir,2012</div>
                        <div>Lead Aurobindo House as a House Captain</div>
                        <div>Anchored several programs for the School</div>
                    </div>
                </div>
            </div><br>
            
            <header class="major">
                <h2 id="Courses">Courses and Certification</h2>
            </header>
            {% for skill in site.data.professional_skills.skills %}
           
            <header class="major">
                <h3>{{ skill.skill_name | upcase }}</h3>
            </header>
            {% for item in skill.sub_skills %}
            <div class="certifiates">
                <div class="row">
                    <div class="1u 12u$(small)" style="float:left;">
                       <p></p> 
                    </div>
                    <div class="6u 12u$(small)" style="float:left;">
                        <span class="image left"  style="max-width:30%;"><img src="{{ site.url }}/{{ item.img_issued_by }}" alt="" /></span>
                        <strong><span style="font-size:1.3em;font-weight:900;">{{ item.course_name }}</span></strong><br>
                        {{ item.issued_by }}<br>
                        {% if item.grades %}
                        Grade : {{ item.grades }}
                        {% endif %}
                        {% if item.pdf %}
                            <span class="show-mobile"><a href="{{ site.url }}/{{ item.pdf }}" download style="text-decoration: none;"><i class="fa fa-download" ></i>Download</a></span>
                        {% endif %}
                            
                    </div>
                    <div class="2u 12u$(small)" style="float:right;">
                       <div></div> 
                    </div>
                    <div class="3u 12u$(small)" style="float:right;">
                        {% if item.img_add %}
                        <!--<div class="thumb" style="width:100%;padding:0px; margin-bottom:-100%;background-image: -moz-linear-gradient(to top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0) 0%);
				background-image: -webkit-linear-gradient(to top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0) 0%);
				background-image: -ms-linear-gradient(to top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0) 0%);
				background-image: linear-gradient(to top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0) 0%);">
							<a href="{{ site.url }}/{{ item.img_add }}" class="image"></a>
							<h3 style="font-size: 0.8em !important;font-weight: normal;float:right;" class="button small">View Certificate</h3>
							<p>{{ item.course_name }}&nbsp;:&nbsp;{{ item.issued_by }}</p>
                            <p style="margin-top:-40px;"><a href="{{ item.certificate_link }}" class="button small" style="">Validate</a>&nbsp;&nbsp;<a href="{{ item.pdf }}" class="button special small icon fa-download" style="background-color:teal;color:white;">Download</a></p>
						</div><br>-->
                        <article class="thumb hide-mobile" style="margin-bottom:-100%;min-width:50%;">
							<a href="{{ site.url }}/{{ item.img_add }}" class="image" style="text-align:center;"><img src="/assets/images/certificate logo.png" alt="" style="max-width:100%;" />View Credentials</a>
							<h2>{{ item.course_name }}&nbsp;:&nbsp;{{ item.issued_by }}</h2>
							<p><a href="{{ item.certificate_link }}" class="button special medium" style=""><span class="icon fa-check">&nbsp;Validate</span></a>&nbsp;&nbsp;<a href="{{ item.pdf }}" class="button special medium icon fa-download" style="background-color:teal;color:white;">Download</a></p>
						</article>
                        <article class="thumb show-mobile" style="margin-bottom:-100%;">
							<a href="{{ site.url }}/{{ item.img_add }}" class="image button medium" style=""><span class="icon fa-eye">&nbsp;View Credentials</span></a>
							<a href="{{ item.certificate_link }}" class="button special medium" style="float:right;"><span class="icon fa-check">&nbsp;Validate</span></a>
						</article>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="show-mobile"><br></div><hr>
            {% endfor %}
            {% endfor %}
            <header class="major">
                <h2 id="volunteer">Volunteer Experience</h2>
            </header>

            <div class="certifiates">
                <div class="row">
                    <div class="6u 12u$(small)" style="float:left;">
                        <span class="image left"  style="max-width:30%;"><img src="{{ 'assets/images/unv logo.png' | absolute_url }}" alt="" /></span>
                        <strong><span style="font-size:1.3em;font-weight:900;">Volunteer</span></strong><br>
                        United Nations Volunteer<br>
                        Dec 2018 - Present<br>
                        Human Rights
                        <span class="show-mobile"><a href="{{ 'assets/downloads/certificates/ADITYA RAMAN | IVD 2018 Certificate.pdf' | absolute_url }}" download style="text-decoration: none;"><i class="fa fa-download" ></i>Download</a></span>
                        
                            
                    </div>
                    <div class="3u 12u$(small)" style="float:right;">
                       <div></div> 
                    </div>
                    <div class="3u 12u$(small)" style="float:right;">
                        <article class="thumb hide-mobile" style="margin-bottom:-100%;min-width:50%;">
							<a href="{{ 'assets/images/ADITYA RAMAN | IVD 2018 Certificate.png' | absolute_url }}" class="image" style="text-align:center;"><img src="/assets/images/certificate logo.png" alt="" style="max-width:100%;" />View Credentials</a>
							<h2>5 December, International Volunteer Day 2018</h2>
							<p><a href="{{ 'assets/downloads/certificates/ADITYA RAMAN | IVD 2018 Certificate.pdf' | absolute_url }}" class="button special medium icon fa-download" style="background-color:teal;color:white;">Download</a></p>
						</article>
                        <article class="thumb show-mobile" style="margin-bottom:-100%;">
							<a href="{{ 'assets/images/ADITYA RAMAN | IVD 2018 Certificate.png' | absolute_url }}" class="image button medium" style=""><span class="icon fa-eye">&nbsp;View Certificate</span></a>
						</article>
                        
                    </div>
                </div>
            </div>
            <div class="show-mobile"><br></div><hr>
            <div class="certifiates">
                <div class="row">
                    <div class="6u 12u$(small)" style="float:left;">
                        <span class="image left"  style="max-width:30%;"><img src="{{ 'assets/images/gdg logo.png' | absolute_url }}" alt="" /></span>
                        <strong><span style="font-size:1.3em;font-weight:900;">Volunteer</span></strong><br>
                        Google Developer Group Bangalore<br>
                        Oct 2018 - Present<br>
                        Technical Group 
                    </div>
                    <div class="3u 12u$(small)" style="float:right;">
                       <div></div> 
                    </div>
                    <div class="3u 12u$(small)" style="float:right;">
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="show-mobile"><br></div><hr>
            <div class="certifiates">
                <div class="row">
                    <div class="6u 12u$(small)" style="float:left;">
                        <span class="image left"  style="max-width:30%;"><img src="{{ 'assets/images/nasa logo.png' | absolute_url }}" alt="" /></span>
                        <strong><span style="font-size:1.3em;font-weight:900;">Volunteer</span></strong><br>
                        NASA International Space Apps Challenge<br>
                        Sep 2018<br>
                        Education
                        <span class="show-mobile"><a href="{{ 'assets/downloads/certificates/nasa space apps.pdf' | absolute_url }}" download style="text-decoration: none;"><i class="fa fa-download" ></i>Download</a></span>
                        
                            
                    </div>
                    <div class="3u 12u$(small)" style="float:right;">
                       <div></div> 
                    </div>
                    <div class="3u 12u$(small)" style="float:right;">
                        <article class="thumb hide-mobile" style="margin-bottom:-100%;min-width:50%;">
							<a href="{{ 'assets/images/nasa space apps.png' | absolute_url }}" class="image" style="text-align:center;"><img src="/assets/images/certificate logo.png" alt="" style="max-width:100%;" />View Credentials</a>
							<h2>5 December, International Volunteer Day 2018</h2>
							<p><a href="{{ 'assets/downloads/certificates/nasa space apps.pdf' | absolute_url }}" class="button special medium icon fa-download" style="background-color:teal;color:white;">Download</a></p>
						</article>
                        <article class="thumb show-mobile" style="margin-bottom:-100%;">
							<a href="{{ 'assets/images/nasa space apps.png' | absolute_url }}" class="image button medium" style=""><span class="icon fa-eye">&nbsp;View Certificate</span></a>
						</article>
                        
                    </div>
                </div>
            </div><hr>
            <div class="show-mobile"><br></div><hr>

            <header class="major">
                <h2 id="Languages">Languages</h2>
            </header>
            <div class="table-wrapper">
                <table>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>English</td>
                            <td>Native or bilingual proficiency</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Hindi</td>
                            <td>Native or bilingual proficiency</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>German</td>
                            <td>Elementary proficiency</td>
                    </tbody>
                </table>
            </div>
            <div class="row">
            
            </div>
        </div>
          <div class="inner">

                {% include footer.html %}
                
        </div><br><br>
        </div>
          {% include sidebar.html %}

      </div>

      {% include javascript.html %}
      <script src="{{ "assets/skills/js/init.js" | absolute_url }}"></script>
      <script src="{{ "assets/skills/js/jquery.js" | absolute_url }}"></script>
      <script src="{{ "assets/skills/js/raphael.js" | absolute_url }}"></script>
      <script src="{{ "assets/graphs/js/jquery-1.11.1.min.js" | absolute_url }}"></script>
      <script src="{{ "assets/graphs/js/canvasjs.min.js" | absolute_url }}"></script>
        <script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active_acc");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
<script>
function changeText(id) {
    if(id.innerHTML == "SHOW LESS"){
        id.innerHTML = "SHOW MORE";
    }
    else{
        id.innerHTML = "SHOW LESS";
    }
}
</script>


</body>

</html>
